* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* header with health */

header {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  /* grid-gap: 1rem; */
  height: 8vh;
  background: black;
  position: fixed;
  z-index: 5;
  left: 0;
  width: 100%;
  align-items: center;
}

.healthFont {
  font-size: 2rem;
  grid-column-start: 2;
  grid-column-end: 4;
  color: white;
}

.health {
  grid-column-start: 2;
  grid-column-end: 4;
}

.enemyName {
  font-size: 2rem;
  grid-column-start: 10;
  grid-column-end: 13;
  color: white;
}

.hits {
  font-size: 2rem;
  grid-column-start: 14;
  grid-column-end: 16;
  color: white;
}

/* progress bar  */
.progress {
  grid-column-start: 4;
  grid-column-end: 9;
}

.progress-bar {
  width: 100%;
}

/* background */
@keyframes animatedFog {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 300% 0;
  }
}

.main-container {
  height: 90vh;
}

.backgroundImage {
  background: url(Assets/Photos/forest.jpg) center/cover no-repeat;
  flex-wrap: nowrap;
  position: relative;
  z-index: 1;
  height: 100%;
}

/* fog speed control */
.fog {
  height: 36rem;
  width: 100%;
  background-image: url(Assets/Photos/fog2.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;

  animation: animatedFog 30s linear infinite;
}

/* monster image */
.monster,
.goodGuy {
  width: 100%;
  position: absolute;
  z-index: 4;
  height: 100%;
}
.targetImg,
.slapperImg {
  height: 36rem;
  position: absolute;
  right: 16rem;
  bottom: 0;
}

.slapperImg {
  left: 17rem;
}
/* footer with buttons */
footer {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 1rem;
  height: 10vh;
  background: black;
  position: fixed;
  bottom: 0;
  z-index: 5;
  left: 0;
  width: 100%;
  align-items: center;
}

button {
  grid-column-end: span 2;
  height: 3rem;
  border-radius: 4px;
}

button.slap {
  background-color: rgb(204, 69, 69);
}
button.punch {
  background-color: rgb(204, 69, 69);
}
button.kick {
  background-color: rgb(204, 69, 69);
}
button.mushroom {
  background-color: rgb(0, 235, 59);
}
button.soul {
  background-color: rgb(0, 235, 59);
}
button.potion {
  background-color: rgb(0, 235, 59);
}

button:first-child {
  grid-column-start: 3;
}
